@model IEnumerable<ExamenFinalVuelingIF.Models.VMtransactionBySku>

@{
    ViewBag.Title = "Sum";
}

<h2>Sum</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suma)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Suma)
        </td>
        <td>
            @Html.ActionLink("Lista Detallada de Transacciones", "ListadoSku", new { sku = item.Sku }) 
            @*@Html.ActionLink("Details", "Details", new { id=item.Sku }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Sku })*@
        </td>
    </tr>
}

</table>
